
#page-header {
	background-color: #2c3254;
}

h1, p{
	font-family: Times-New-Roman;
}

.gray_title{
	color: gray;
}

.par1{
	color: #4771cc;
}
#bd{
   
    border-top: 2px solid #2c3254;
}

.text-break {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
  }